.pane-cod-schedule-menu-pane ul.menu li a {
  padding: 10px 40px;
  background-color: #EEF2F2;
}

.pane-cod-schedule-menu-pane ul.menu li a.active {
  background-color: #636060;
  color: white;
}

.pane-cod-schedule-menu-pane ul.menu li {
  list-style: none;
  display: inline-block;
}

.view-cod-schedule-content .view-content h3 {
  background-color: #CEF3F9;
  text-indent: 20px;
  padding: 5px;
  font-weight: bold;
}

.view-cod-schedule-content .view-content .views-row {
  padding: 0 20px;
  border-bottom: 1px solid #AFACAC;
}
.view-cod-schedule-content .view-content .views-row .views-field.views-field-name,
.view-cod-schedule-content .view-content .views-row .views-field-field-speakers {
  padding-left: 30px;
  font-variant: small-caps;
  font-size: 1em;
}

.view-cod-schedule-content .view-content .views-row .views-field.views-field-name {
  background: url("../images/schedule-se89b5e48a1.png") no-repeat 10px 15px;
  background-position: 0 -83px;
}

.view-cod-schedule-content .view-content .views-row .views-field-field-speakers {
  background: url("../images/schedule-se89b5e48a1.png") no-repeat 10px 15px;
  background-position: 0px -31px;
  height: 21px;
  margin: 7px 0px;
}

/* webform */
#node-11 section.node-submitted {
  display: none;
}

/* sidebar */
#block-menu-menu-sidebar-menu ul.menu li {
  list-style: none;
}
#block-menu-menu-sidebar-menu ul.menu li a {
  list-style: none;
  display: block;
  font-size: 110%;
  font-weight: bold;
  overflow: hidden;
  padding: 20px 0 30px 20px;
  text-transform: uppercase;
}

#block-menu-menu-sidebar-menu ul.menu li a.register {
  background: url('../images/icon-1.png') no-repeat 10px 15px;
  padding-left: 50px;
}
#block-menu-menu-sidebar-menu ul.menu li a.resources {
  background: url('../images/icon-3.png') no-repeat 10px 15px;
  padding-left: 50px;
}
#block-menu-menu-sidebar-menu ul.menu li a.whenwhere {
  background: url('../images/icon-2.png') no-repeat 10px 15px;
  padding-left: 50px;
}
#block-menu-menu-sidebar-menu ul.menu li a.whoareinvited {
  background: url('../images/icon-4.png') no-repeat 10px 15px;
  padding-left: 50px;
}

/* Slideshow */
#views_slideshow_cycle_teaser_section_front_page_slideshow-block {
/*   position: absolute; */
}

#views_slideshow_cycle_teaser_section_front_page_slideshow-block .views-field-title {
  position: relative;
  top: 300px;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 25px;
  background-color: rgba(5, 5, 5, 0.6);
}

#views_slideshow_cycle_teaser_section_front_page_slideshow-block .views-field-title a {
  color: white;
  font-weight: bold;
  font-size: 13px;
  font-weight: bold;
  font-size: 120%;
}

#views_slideshow_cycle_teaser_section_front_page_slideshow-block .views-field-field-slideshow-caption {
  position: relative;
  top: 300px;
  margin-left: 25px;
  background-color: rgba(5, 5, 5, 0.6);
  padding: 4px;
}

#views_slideshow_cycle_teaser_section_front_page_slideshow-block .views-field-field-slideshow-caption a {
  color: white;
}